body{
    margin: 0;
    padding: 0;
    background-color: #0C151D;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: white;
    flex-direction: column;
}

.imagen{
    display: flex;
}

.imagen-dentro{
    margin: 0 auto;
    margin-top: 100px;
}

.opciones-inicio{
    margin-left: 60%;
    display: flex;
    gap: 50px;

}
.flex{
    
    display: flex;
    font-weight: 300;
    margin-top: 25px;

}
.leaderboard{
    margin-left: 5%;
    transition: 1s all ease;

}
.fade-in{
    opacity: 0; 
    animation: fadeInAnimation 1s ease-in forwards; 
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container{
    position: absolute;
    display: block;  
    width: 100%;
    top: 55%;  
}
.container-texto-1{
    text-align: center; 
    font-size: 30px;
    font-weight: 300;
}

.inicio-Sesion{
    transition: 1s all ease;
}
.registrarse{
    transition: 1s all ease;
}
.leaderboard:hover{
    cursor: pointer;
    color: rgb(249, 239, 180);
}
.inicio-Sesion:hover{
    cursor: pointer;
    color: rgb(249, 239, 180);
}
.registrarse:hover{
    cursor: pointer;
    color: rgb(249, 239, 180);
}

.texto-1{
    font-size: 15px;
    color: rgb(217, 217, 217);
}

.opciones-jugar{
    margin-top: 60px;
    height: 50px;
    display: flex;   
}
.opciones{
    display: flex;
    margin: 0 auto;
    gap: 100px;
}
.opcion-1{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(124, 213, 130);
    width: 200px;
    font-size: 22px;
    height: 60px;
    border-radius: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 0.5s all ease;   
}

.borde{
    border: 2px solid white;
    height: 64px;
    width: 205px;
    border-radius: 50px;
    display: flex;
}


.opcion-1:hover{
    transform: scale(1.20);
    cursor: pointer;
   
}

