body{
    margin: 0;
    padding: 0;
    background-color: #040E23;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: white;
    flex-direction: column;
}

.divErrorUsuario{
    color: red;
    position: absolute;
    font-style: italic;
    font-size: 14px;
}
.flexbox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Hereda el fondo del contenedor */
    filter: blur(5px); /* Aplica el desenfoque */
    z-index: -1; /* Asegura que esté detrás del contenido */
  }
.flexbox{
    position: absolute;
    background: rgb(78, 78, 246);
    padding: 5px;
    width: 25vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgb(143, 143, 143);
}
.textoLogin{
    text-align: center;
    margin-top: 20px;
    font-size: 55px;
font-weight: 600;

}

.containerInicioSesion{
margin-top: 70px;
height: 300px;
}

.divUsuario{

}

.divPassword{
margin-top: 40px;
}

.divUsuarioGrande{
display: flex;
    background-color: white;
    width: 275px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgb(122, 122, 122);
    box-shadow: 1px 1px 1px rgb(133, 133, 133);
    font-size: 30px;
}
.divUsuarioGrande1{
    display: flex;
        background-color: white;
        width: 275px;
        height: 36px;
        border-radius: 5px;
        border: 1px solid rgb(122, 122, 122);
        box-shadow: 1px 1px 1px rgb(133, 133, 133);
        font-size: 30px;
        margin-top: 30px;
    }
.interior{
    margin-top: 1px;
    margin-left: 5px;
    color: black;
}
.inputUsuario{
    position: absolute;
padding-top: 9px;
padding-bottom: 9px;
padding-right: 40px;
border-radius: 5px;
margin-left: 5px;
outline: none;
text-decoration: none;
border: 0px;

outline: none;
font-size: 14px;
}
.inputContraseña{
    position: absolute;
padding-top: 9px;
padding-bottom: 9px;
padding-right: 40px;
border-radius: 5px;
margin-left: 5px;
outline: none;
text-decoration: none;
border: 0px;

outline: none;
font-size: 14px;
}
.inputUsuario::placeholder{
font-style: italic;
font-size: 14px;

}
.inputContraseña::placeholder{
    font-style: italic;
font-size: 14px;
}
.checkBox{
    margin-top: 20px;
}
.juntar1{
    display: flex;
}
.newUser{
    margin-top: 21px;
    margin-left: 10px;
}
.juntar2{
    margin-top: 20px;
    margin-left: 164px;
    display:flex ;
    gap: 15px;
}
.signUp{
    color: rgb(152, 224, 255);
}

.botonLogIn{
margin-left: 160px;
}
.botoncito{
    margin-top: 25px;
    width: 140px;
    height: 35px;
    background-color: rgb(127, 211, 253);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid black;
    color: black;
}
.botoncito:hover{
background-color: rgb(0, 162, 255);
transition: 1s all ease;
cursor: pointer;

}

.perderContra{
    font-size: 14px;
    margin-top: 2px;
}
.contraPerdida{
color: black;
cursor: pointer;


}
.contraPerdida:hover{
    color: blue;
    border-bottom: 1px solid blue;   
    }
    .signUp{
        color: black;
        
        }
        .signUp:hover{
            color: blue;
            
            }
    .mostrar{
        position: absolute;
        margin-left: 50%;
        margin-bottom: 5px;
        color: grey;
        cursor: pointer;
    }

    .container-pequeno{
        margin-left: 93px;
    }
.volver{
    position: absolute;
    background-color: white;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    border: 1px solid black;
    left: 7px;
    bottom: 5px;
}    
.volver:hover{
    background-color: rgb(200, 240, 246);
    transition: 0.6s all ease;
}
.dentro{
    position: relative;
    margin-left: 2px;
    margin-top: 1px;
}







.snow{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    animation: fadeInAnimation 1s ease-in forwards;
               
}

.fade-in2{
    opacity: 0; 
    animation: fadeInAnimation2 1s ease-in forwards; 
}

@keyframes fadeInAnimation2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0; 
    animation: fadeInAnimation 1s ease-in forwards; 
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.1;
    }
}
.snow:nth-child(1){
    opacity: 0.01;
    transform: translate(30vw,55vh);
    animation: fall-1 55s linear infinite;
}

@keyframes fall-1{
    35%{
        transform: translate(20vw,70vh);
        opacity: 0.4;

    }
    to{
        transform: translate(15vw,85vh);
        opacity: 0.01;

    }
}
.snow:nth-child(2){
    opacity: 0.01;
    transform: translate(20vw,50vh);
    animation: fall-2 15s linear infinite;
}

@keyframes fall-2{
    35%{
        transform: translate(10vw,55vh);
        opacity: 0.4;
    }
    to{
        transform: translate(6vw,60vh);
        opacity: 0.01;

    }
}

.snow:nth-child(2){
    opacity: 0.01;
    transform: translate(20vw,50vh);
    animation: fall-2 25s linear infinite;
}

@keyframes fall-2{
    35%{
        transform: translate(10vw,55vh);
        opacity: 0.4;
    }
    to{
        transform: translate(6vw,60vh);
        opacity: 0.01;

    }
}

.snow:nth-child(3){
    opacity: 0.01;
    transform: translate(30vw,50vh);
    animation: fall-3 35s linear infinite;
}

@keyframes fall-3{
    35%{
        transform: translate(30vw,55vh);
        opacity: 0.4;
    }
    to{
        transform: translate(27vw,60vh);
        opacity: 0.01;

    }
}

.snow:nth-child(4){
    opacity: 0.01;
    transform: translate(30vw,40vh);
    animation: fall-4 45s linear infinite;
}

@keyframes fall-4{
    35%{
        transform: translate(27vw,35vh);
        opacity: 0.4;
    }
    to{
        transform: translate(27vw,10vh);
        opacity: 0.01;

    }
}

.snow:nth-child(5){
    opacity: 0.01;
    transform: translate(50vw,40vh) ;
    animation: fall-5 55s linear infinite;
}

@keyframes fall-5{
    35%{
        transform: translate(55vw,35vh);
        opacity: 0.4;
    }
    to{
        transform: translate(60vw,25vh);
        opacity: 0.01;

    }
}

.snow:nth-child(6){
    opacity: 0.01;
    transform: translate(60vw,50vh) ;
    animation: fall-6 15s linear infinite;
}

@keyframes fall-6{
    35%{
        transform: translate(65vw,55vh);
        opacity: 0.4;
    }
    to{
        transform: translate(68vw,61vh);
        opacity: 0.01;

    }
}

.snow:nth-child(7){
    opacity: 0.01;
    transform: translate(60vw,40vh) ;
    animation: fall-7 25s linear infinite;
}

@keyframes fall-7{
    35%{
        transform: translate(65vw,35vh);
        opacity: 0.3;
    }
    to{
        transform: translate(68vw,30vh);
        opacity: 0.01;

    }
}

.snow:nth-child(8){
    opacity: 0.01;
    transform: translate(72vw,40vh) ;
    animation: fall-8 35s linear infinite;
}

@keyframes fall-8{
    35%{
        transform: translate(75vw,35vh);
        opacity: 0.3;
    }
    to{
        transform: translate(78vw,33vh);
        opacity: 0.01;

    }
}

.snow:nth-child(9){
    opacity: 0.01;
    transform: translate(50vw,60vh) ;
    animation: fall-9 45s linear infinite;
}

@keyframes fall-9{
    35%{
        transform: translate(56vw,66vh);
        opacity: 0.3;
    }
    to{
        transform: translate(62vw,67vh);
        opacity: 0.01;

    }
}

.snow:nth-child(10){
    opacity: 0.01;
    transform: translate(50vw,80vh) ;
    animation: fall-10 55s linear infinite;
}

@keyframes fall-10{
    35%{
        transform: translate(56vw,84vh);
        opacity: 0.3;
    }
    to{
        transform: translate(59vw,89vh);
        opacity: 0.01;

    }
}

.snow:nth-child(11){
    opacity: 0.01;
    transform: translate(40vw,80vh) ;
    animation: fall-11 65s linear infinite;
}

@keyframes fall-11{
    35%{
        transform: translate(35vw,84vh);
        opacity: 0.3;
    }
    to{
        transform: translate(31vw,89vh);
        opacity: 0.01;

    }
}

.snow:nth-child(12){
    opacity: 0.01;
    transform: translate(20vw,30vh) ;
    animation: fall-12 15s linear infinite;
}

@keyframes fall-12{
    35%{
        transform: translate(15vw,25vh);
        opacity: 0.3;
    }
    to{
        transform: translate(13vw,21vh);
        opacity: 0.01;

    }
}

.snow:nth-child(13){
    opacity: 0.01;
    transform: translate(70vw,40vh) ;
    animation: fall-13 25s linear infinite;
}

@keyframes fall-13{
    35%{
        transform: translate(75vw,45vh);
        opacity: 0.3;
    }
    to{
        transform: translate(81vw,51vh);
        opacity: 0.01;

    }
}

.snow:nth-child(14){
    opacity: 0.01;
    transform: translate(60vw,40vh) ;
    animation: fall-14 35s linear infinite;
}

@keyframes fall-14{
    35%{
        transform: translate(65vw,42vh);
        opacity: 0.3;
    }
    to{
        transform: translate(71vw,53vh);
        opacity: 0.01;

    }
}

.snow:nth-child(15){
    opacity: 0.01;
    transform: translate(35vw,40vh) ;
    animation: fall-15 45s linear infinite;
}

@keyframes fall-15{
    35%{
        transform: translate(40vw,30vh);
        opacity: 0.3;
    }
    to{
        transform: translate(47vw,25vh);
        opacity: 0.01;

    }
}

.snow:nth-child(16){
    opacity: 0.01;
    transform: translate(55vw,30vh) ;
    animation: fall-16 55s linear infinite;
}

@keyframes fall-16{
    35%{
        transform: translate(50vw,20vh);
        opacity: 0.3;
    }
    to{
        transform: translate(45vw,16vh);
        opacity: 0.01;

    }
}

.snow:nth-child(17){
    opacity: 0.01;
    transform: translate(20vw,30vh) ;
    animation: fall-17 15s linear infinite;
}

@keyframes fall-17{
    35%{
        transform: translate(18vw,24vh);
        opacity: 0.3;
    }
    to{
        transform: translate(14vw,17vh);
        opacity: 0.01;

    }
}

.snow:nth-child(18){
    opacity: 0.01;
    transform: translate(15vw,20vh) ;
    animation: fall-18 25s linear infinite;
}

@keyframes fall-18{
    35%{
        transform: translate(13vw,14vh);
        opacity: 0.3;
    }
    to{
        transform: translate(9vw,11vh);
        opacity: 0.01;

    }
}

.snow:nth-child(19){
    opacity: 0.01;
    transform: translate(85vw,20vh) ;
    animation: fall-19 35s linear infinite;
}

@keyframes fall-19{
    35%{
        transform: translate(89vw,14vh);
        opacity: 0.3;
    }
    to{
        transform: translate(94vw,11vh);
        opacity: 0.01;

    }
}

.snow:nth-child(20){
    opacity: 0.01;
    transform: translate(75vw,23vh) ;
    animation: fall-20 45s linear infinite;
}

@keyframes fall-20{
    35%{
        transform: translate(80vw,17vh);
        opacity: 0.3;
    }
    to{
        transform: translate(82vw,11vh);
        opacity: 0.01;

    }
}

.snow:nth-child(21){
    opacity: 0.01;
    transform: translate(85vw,33vh) ;
    animation: fall-21 55s linear infinite;
}

@keyframes fall-21{
    35%{
        transform: translate(88vw,27vh);
        opacity: 0.3;
    }
    to{
        transform: translate(92vw,21vh);
        opacity: 0.01;

    }
}

.snow:nth-child(22){
    opacity: 0.01;
    transform: translate(85vw,83vh) ;
    animation: fall-22 65s linear infinite;
}

@keyframes fall-22{
    35%{
        transform: translate(88vw,87vh);
        opacity: 0.3;
    }
    to{
        transform: translate(92vw,91vh);
        opacity: 0.01;

    }
}

.snow:nth-child(23){
    opacity: 0.01;
    transform: translate(65vw,73vh) ;
    animation: fall-23 15s linear infinite;
}

@keyframes fall-23{
    35%{
        transform: translate(68vw,77vh);
        opacity: 0.3;
    }
    to{
        transform: translate(72vw,81vh);
        opacity: 0.01;

    }
}

.snow:nth-child(24){
    opacity: 0.01;
    transform: translate(55vw,63vh) ;
    animation: fall-24 21s linear infinite;
}

@keyframes fall-24{
    35%{
        transform: translate(58vw,67vh);
        opacity: 0.3;
    }
    to{
        transform: translate(62vw,71vh);
        opacity: 0.01;

    }
}

.snow:nth-child(25){
    opacity: 0.01;
    transform: translate(75vw,63vh) ;
    animation: fall-25 23s linear infinite;
}

@keyframes fall-25{
    35%{
        transform: translate(78vw,67vh);
        opacity: 0.3;
    }
    to{
        transform: translate(82vw,71vh);
        opacity: 0.01;

    }
}

.snow:nth-child(26){
    opacity: 0.01;
    transform: translate(85vw,72vh) ;
    animation: fall-26 35s linear infinite;
}

@keyframes fall-26{
    35%{
        transform: translate(88vw,76vh);
        opacity: 0.3;
    }
    to{
        transform: translate(92vw,85vh);
        opacity: 0.01;

    }
}

.snow:nth-child(27){
    opacity: 0.01;
    transform: translate(45vw,71vh) ;
    animation: fall-27 45s linear infinite;
}

@keyframes fall-27{
    35%{
        transform: translate(52vw,76vh);
        opacity: 0.3;
    }
    to{
        transform: translate(55vw,82vh);
        opacity: 0.01;

    }
}

.snow:nth-child(28){
    opacity: 0.01;
    transform: translate(35vw,14vh) ;
    animation: fall-28 55s linear infinite;
}

@keyframes fall-28{
    35%{
        transform: translate(32vw,10vh);
        opacity: 0.3;
    }
    to{
        transform: translate(26vw,8vh);
        opacity: 0.01;

    }
}

.snow:nth-child(28){
    opacity: 0.01;
    transform: translate(35vw,64vh) ;
    animation: fall-28 35s linear infinite;
}

@keyframes fall-28{
    35%{
        transform: translate(36vw,70vh);
        opacity: 0.3;
    }
    to{
        transform: translate(39vw,78vh);
        opacity: 0.01;

    }
}

.snow:nth-child(29){
    opacity: 0.01;
    transform: translate(55vw,20vh) ;
    animation: fall-29 15s linear infinite;
}

@keyframes fall-29{
    35%{
        transform: translate(56vw,13vh);
        opacity: 0.3;
    }
    to{
        transform: translate(59vw,7vh);
        opacity: 0.01;

    }
}

.snow:nth-child(30){
    opacity: 0.01;
    transform: translate(51vw,13vh) ;
    animation: fall-30 25s linear infinite;
}

@keyframes fall-30{
    35%{
        transform: translate(48vw,5vh);
        opacity: 0.3;
    }
    to{
        transform: translate(45vw,2vh);
        opacity: 0.01;

    }
}

.snow:nth-child(31){
    opacity: 0.01;
    transform: translate(41vw,15vh) ;
    animation: fall-31 35s linear infinite;
}

@keyframes fall-31{
    35%{
        transform: translate(38vw,7vh);
        opacity: 0.3;
    }
    to{
        transform: translate(35vw,5vh);
        opacity: 0.01;

    }
}

.snow:nth-child(32){
    opacity: 0.01;
    transform: translate(71vw,15vh) ;
    animation: fall-32 45s linear infinite;
}

@keyframes fall-32{
    35%{
        transform: translate(78vw,7vh);
        opacity: 0.3;
    }
    to{
        transform: translate(85vw,5vh);
        opacity: 0.01;

    }
}

.snow:nth-child(33){
    opacity: 0.01;
    transform: translate(81vw,55vh) ;
    animation: fall-33 35s linear infinite;
}

@keyframes fall-33{
    35%{
        transform: translate(88vw,57vh);
        opacity: 0.3;
    }
    to{
        transform: translate(95vw,65vh);
        opacity: 0.01;

    }
}